@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Cores que quero usar: 
   #BF6900 no hoover 
   #F3F7F0 no cabeçalho 
   #36373C no main para combinar com a imagem 
rgb(116, 81, 81)
#36373C
   */


header{
    background-color:#36373C;

}
header > h1{
    text-align: center;
    padding: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
}

menu{
    display: none;
}

menu > ul {
    list-style-type: none;
}


menu > ul > li > a{
    display: block;  
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: #787a77;
    color: white;
    border-top: 2px solid rgb(36, 36, 36);
}

menu > ul > li > a:hover{
    background-color: #4c504a;
}
.material-symbols-outlined{
    display: block;
    background-color: #36373C;
    color: white;
    text-align: center;
    padding: 7px;

}
.material-symbols-outlined:hover{
    background-color: rgb(133, 124, 124);
    color: black;
    cursor: pointer;
}

body{
    background-color: #e6e9e4;
}

main{ 
    width: 90vw;
    background-color: rgba(133, 124, 124, 0.521);
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 13px;
}

article > h2{
    padding-bottom: 20px;
}
main > article > p{
    color: white;
    text-align: justify;
    text-indent: 25px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

footer{
    background-color:#36373C;
    display: block;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 1.11em;

}
footer > p > a{
    text-decoration: none;
    color: white;
}
